.errorContainer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  background-color: rgb(248, 85, 85);
  color: black;
  width: 300px;
  border-radius: 15px;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 0;
  z-index: 9999;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.active {
  opacity: 1;
}

.inactive {
  opacity: 0;
  transform: translate(-50%, -200px);
}
