.serverAlive {
  border-color: transparent;
  cursor: not-allowed;
}

.serverAlive:hover {
  border-color: transparent;
}

.serverDown {
  border-color: green;
  cursor: pointer;
}

.serverDown:hover {
  border-color: lightgreen;
}

.serverAlive:disabled,
.serverDown:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

@keyframes borderRotate {
  0% {
    border-color: green;
  }
  50% {
    border-color: lightgreen;
  }
  100% {
    border-color: green;
  }
}

.serverLoading {
  animation: borderRotate 1.5s linear infinite;
  border-width: 2px;
  border-style: solid;
}
