.page {
  width: 100vw;
}

.main {
  margin-inline: auto;
  text-align: center;
  margin-bottom: 50px;
}

.weightsListButton {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form input {
  height: 36px;
  text-align: center;
}

.chartsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 870px) {
  body {
    overflow-x: hidden;
  }
  .main {
    margin-bottom: 15px;
  }
  .chartsContainer {
    flex-direction: column;
    margin-bottom: 30px;
  }
}
